.water {
  --background-color: #b9e9fc; /* cor clara */
  --background-color-2: #97deff; /* cor media */
  --suporte-color: #47b5ff; /* cor forte */
  --text-header-color: #73777b; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.ice {
  --background-color: #c9eeff; /* cor clara */
  --background-color-2: #b9e9fc; /* cor media */
  --suporte-color: #8dcbe6; /* cor forte */
  --text-header-color: #73777b; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.fighting {
  --background-color: #ffcdc5; /* cor clara */
  --background-color-2: #ffaca4; /* cor media */
  --suporte-color: #a41020; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.fire {
  --background-color: #ffbc80; /* cor clara */
  --background-color-2: #ff9f45; /* cor media */
  --suporte-color: #d9230b; /* cor forte F76E11 */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.electric {
  --background-color: #fff9b0; /* cor clara */
  --background-color-2: #ffd966; /* cor media */
  --suporte-color: #e6b325; /* cor forte */
  --text-header-color: #73777b; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.poison {
  --background-color: #c060a1; /* cor clara */
  --background-color-2: #9145b6; /* cor media */
  --suporte-color: #4c3f91; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.grass {
  --background-color: #ceedc7;
  --background-color-2: #e9edc9;
  --suporte-color: #6eccaf;
  --text-header-color: #73777b;
  color: var(--text-header-color);
}

.dragon {
  --background-color: #736ead; /* cor clara */
  --background-color-2: #576cbc; /* cor media */
  --suporte-color: #19376d; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.bug {
  --background-color: #d3e4cd; /* cor clara */
  --background-color-2: #62627b; /* cor media */
  --suporte-color: #56776c; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.dark {
  --background-color: #ffeede; /* cor clara */
  --background-color-2: #bdd2b6; /* cor media */
  --suporte-color: #29314a; /* cor forte */
  --text-header-color: #73777b; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.fairy {
  --background-color: #ffa2c4; /* cor clara */
  --background-color-2: #dd8edd; /* cor media */
  --suporte-color: #9e319c; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.flying {
  --background-color: #bbd5f9; /* cor clara */
  --background-color-2: #fffec4; /* cor media */
  --suporte-color: #9696fd; /* cor forte */
  --text-header-color: #73777b; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.ghost {
  --background-color: #bd94b4; /* cor clara */
  --background-color-2: #8b6283; /* cor media */
  --suporte-color: #392939; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.ground {
  --background-color: #d1a588; /* cor clara */
  --background-color-2: #ac7b5a; /* cor media */
  --suporte-color: #73524a; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.normal {
  --background-color: #ffe6c5; /* cor clara */
  --background-color-2: #debd9c; /* cor media */
  --suporte-color: #f66231; /* cor forte */
  --text-header-color: #73777b; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.rock {
  --background-color: #b4acac; /* cor clara */
  --background-color-2: #838383; /* cor media */
  --suporte-color: #393941; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.psychic {
  --background-color: #ffc3c3; /* cor clara */
  --background-color-2: #ff8c8c; /* cor media */
  --suporte-color: #ff5d5d; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}

.steel {
  --background-color: #bdcde6; /* cor clara */
  --background-color-2: #7b94a4; /* cor media */
  --suporte-color: #393952; /* cor forte */
  --text-header-color: #ffffff; /* cor texto onde ta cinza */
  color: var(--text-header-color);
}
